BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Allman
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
SortIncludes: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: false
Cpp11BracedListStyle: true
BreakBeforeBinaryOperators: NonAssignment
AllowShortIfStatementsOnASingleLine: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
PointerAlignment: Left
ReferenceAlignment: Left
